In [2]:
import pandas as pd
import numpy as np

In [3]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})
customers.head(1)

   id name
0   1  Joe

In [4]:
orders.head(1)

   id  customerId
0   1           3

In [14]:
set(getattr(orders, 'customerId'))

{1, 3}