# Database Pratice, in Pandas

In [1]:
import pandas as pd
import numpy as np

3156. Employee Task Duration and Concurrent Tasks, @06/08/2024

Notes: 
<br>&emsp;1. df.groupby(as_index=), False if reduce the dataset; 
<br>&emsp;2. df.groupby().agg(), the purpose of .agg() is to reduce the dataset; otherwise, use df.groupby()[cols].func();
<br>&emsp;3. Create new column by condition: np.select, apply (axis=1 if iterate by row, lambda)

In [13]:
data = [[1, 1001, '2023-05-01 08:00:00', '2023-05-01 09:00:00'], [2, 1001, '2023-05-01 08:30:00', '2023-05-01 10:30:00'], [3, 1001, '2023-05-01 11:00:00', '2023-05-01 12:00:00'], [7, 1001, '2023-05-01 13:00:00', '2023-05-01 15:30:00'], [4, 1002, '2023-05-01 09:00:00', '2023-05-01 10:00:00'], [5, 1002, '2023-05-01 09:30:00', '2023-05-01 11:30:00'], [6, 1003, '2023-05-01 14:00:00', '2023-05-01 16:00:00']]
tasks = pd.DataFrame(data, columns=['task_id', 'employee_id', 'start_time', 'end_time']).astype({
    'task_id': 'Int64',
    'employee_id': 'Int64',
    'start_time': 'datetime64[ns]',
    'end_time': 'datetime64[ns]'
})
tasks.head(1)

   task_id  employee_id          start_time            end_time
0        1         1001 2023-05-01 08:00:00 2023-05-01 09:00:00

In [ ]:
def find_total_duration(tasks: pd.DataFrame) -> pd.DataFrame:
    pass

find_total_duration(tasks=tasks)

In [16]:
tasks.sort_values(by=['employee_id', 'start_time'], inplace=True, ignore_index=True)
tasks['latest_end_time'] = tasks.groupby(by=['employee_id'])['end_time'].cummax()
tasks['prev_end_time'] = tasks.groupby(by=['employee_id'])['end_time'].shift(1)
tasks['overlap'] = getattr(tasks, 'start_time') <= getattr(tasks, 'prev_end_time')
tasks

,task_id,employee_id,start_time,end_time,latest_end_time,overlap,prev_end_time
0,1,1001,2023-05-01 08:00:00,2023-05-01 09:00:00,2023-05-01 09:00:00,False,NaT
1,2,1001,2023-05-01 08:30:00,2023-05-01 10:30:00,2023-05-01 10:30:00,True,2023-05-01 09:00:00
2,3,1001,2023-05-01 11:00:00,2023-05-01 12:00:00,2023-05-01 12:00:00,False,2023-05-01 10:30:00
3,7,1001,2023-05-01 13:00:00,2023-05-01 15:30:00,2023-05-01 15:30:00,False,2023-05-01 12:00:00
4,4,1002,2023-05-01 09:00:00,2023-05-01 10:00:00,2023-05-01 10:00:00,False,NaT
5,5,1002,2023-05-01 09:30:00,2023-05-01 11:30:00,2023-05-01 11:30:00,True,2023-05-01 10:00:00
6,6,1003,2023-05-01 14:00:00,2023-05-01 16:00:00,2023-05-01 16:00:00,False,NaT

In [60]:
tasks.sort_values(by=['employee_id', 'start_time'], inplace=True, ignore_index=True)
tasks['latest_end_time'] = tasks.groupby(by=['employee_id'])['end_time'].cummax()
# tasks

0   2023-05-01 09:00:00
1   2023-05-01 10:30:00
2   2023-05-01 12:00:00
3   2023-05-01 15:30:00
4   2023-05-01 10:00:00
5   2023-05-01 11:30:00
6   2023-05-01 16:00:00
Name: end_time, dtype: datetime64[ns]