# Database Pratice, in Pandas

In [2]:
import pandas as pd
import numpy as np

3103. Find Trending Hashtags II, @06/10/2024

Notes: 
<br>&emsp;1. getattr(df, col).dt.year/month/day
<br>&emsp;2. df[col].str.findall(r"#\w+")/extractall(r"#\w+")

In [8]:
data = [[135, 13, 'Enjoying a great start to the day. #HappyDay #MorningVibes', '2024-02-01'], [136, 14, 'Another #HappyDay with good vibes! #FeelGood', '2024-02-03'], [137, 15, 'Productivity peaks! #WorkLife #ProductiveDay', '2024-02-04'], [138, 16, 'Exploring new tech frontiers. #TechLife #Innovation', '2024-02-04'], [139, 17, "Gratitude for today's moments. #HappyDay #Thankful", '2024-02-05'], [140, 18, 'Innovation drives us. #TechLife #FutureTech', '2024-02-07'], [141, 19, "Connecting with nature's serenity. #Nature #Peaceful", '2024-02-09']]
tweets = pd.DataFrame(data, columns=['user_id', 'tweet_id', 'tweet', 'tweet_date']).astype({'user_id':'Int64', 'tweet_id':'Int64', 'tweet':'object', 'tweet_date':'datetime64[ns]'})
tweets.head(1)

,user_id,tweet_id,tweet,tweet_date
0,135,13,Enjoying a great start to the day. #HappyDay #...,2024-02-01

In [49]:
def find_trending_hashtags(tweets: pd.DataFrame) -> pd.DataFrame:
    # in Feb, 2024
    # tweets.query(f"{getattr(tweets, 'tweet_date').dt.year} == 2024 and {getattr(tweets, 'tweet_date').dt.month} == 2")
    tweets['year'] = getattr(tweets, 'tweet_date').dt.year
    tweets['month'] = getattr(tweets, 'tweet_date').dt.month
    res = getattr(tweets.query(f"year == 2024 and month == 2"), 'tweet').str.extractall(r"(#\w+)").reset_index().rename(columns={0: 'hashtag'})\
          .groupby(by=['hashtag']).agg({'hashtag':'count'}).rename(columns={'hashtag': 'count'}).reset_index().sort_values(by=['count', 'hashtag'], ascending=[False, False], ignore_index=True)
    return res.iloc[0:3, :]

res = find_trending_hashtags(tweets=tweets)
res

     hashtag  count
0  #HappyDay      3
1  #TechLife      2
2  #WorkLife      1

3061. Calculate Trapping Rain Water

In [2]:
data = [[1, 0], [2, 1], [3, 0], [4, 2], [5, 1], [6, 0], [7, 1], [8, 3], [9, 2], [10, 1], [11, 2], [12, 1]]
heights = pd.DataFrame(data, columns=['id', 'height']).astype({'id':'Int64', 'height':'Int64'})
heights.head(1)

   id  height
0   1       0

In [12]:
def calculate_trapped_rain_water(heights: pd.DataFrame) -> pd.DataFrame:
    heights['left_max'] = getattr(heights, 'height').cummax()
    heights['right_max'] = getattr(heights, 'height')[::-1].cummax()[::-1]
    heights['trapped_water'] = heights.apply(lambda row: min(row['left_max'], row['right_max']) - row['height'], axis=1)
    return pd.DataFrame(data=[heights['trapped_water'].sum()], columns=['total_trapped_water'])

res = calculate_trapped_rain_water(heights=heights)
res

   total_trapped_water
0                    6

602. Friend Requests II: Who Has the Most Friends

In [4]:
data = [[1, 2, '2016/06/03'], [1, 3, '2016/06/08'], [2, 3, '2016/06/08'], [3, 4, '2016/06/09']]
request_accepted = pd.DataFrame(data, columns=['requester_id', 'accepter_id', 'accept_date']).astype({'requester_id':'Int64', 'accepter_id':'Int64', 'accept_date':'datetime64[ns]'})
request_accepted.head(1)

   requester_id  accepter_id accept_date
0             1            2  2016-06-03

In [22]:
user = pd.concat([getattr(request_accepted, 'requester_id'), getattr(request_accepted, 'accepter_id')])\
         .value_counts().to_frame().reset_index().rename(columns={0: 'num', 'index': 'id'})
user.query(f"num == {getattr(user, 'num').max()}")

   id  num
0   3    3

3156. Employee Task Duration and Concurrent Tasks, @06/08/2024

Notes: 
<br>&emsp;1. df.groupby(as_index=), False if reduce the dataset; 
<br>&emsp;2. df.groupby().agg(), the purpose of .agg() is to reduce the dataset; otherwise, use df.groupby()[cols].func();
<br>&emsp;3. Create new column by condition: np.select, apply (axis=1 if iterate by row, lambda)

In [2]:
data = [[1, 1001, '2023-05-01 08:00:00', '2023-05-01 09:00:00'], [2, 1001, '2023-05-01 08:30:00', '2023-05-01 10:30:00'], [3, 1001, '2023-05-01 11:00:00', '2023-05-01 12:00:00'], [7, 1001, '2023-05-01 13:00:00', '2023-05-01 15:30:00'], [4, 1002, '2023-05-01 09:00:00', '2023-05-01 10:00:00'], [5, 1002, '2023-05-01 09:30:00', '2023-05-01 11:30:00'], [6, 1003, '2023-05-01 14:00:00', '2023-05-01 16:00:00']]
tasks = pd.DataFrame(data, columns=['task_id', 'employee_id', 'start_time', 'end_time']).astype({
    'task_id': 'Int64',
    'employee_id': 'Int64',
    'start_time': 'datetime64[ns]',
    'end_time': 'datetime64[ns]'
})
tasks.head(1)

   task_id  employee_id          start_time            end_time
0        1         1001 2023-05-01 08:00:00 2023-05-01 09:00:00

In [ ]:
def find_total_duration(tasks: pd.DataFrame) -> pd.DataFrame:
    tasks.sort_values(by=['employee_id', 'start_time'], inplace=True, ignore_index=True)
    pass

find_total_duration(tasks=tasks)

In [16]:
# Sort by employee_id and start_time
tasks.sort_values(by=['employee_id', 'start_time'], inplace=True, ignore_index=True)
# Overlap detection
tasks['latest_end_time'] = tasks.groupby(by=['employee_id'])['end_time'].cummax()
tasks['prev_end_time'] = tasks.groupby(by=['employee_id'])['end_time'].shift(1)
tasks['overlap'] = getattr(tasks, 'start_time') <= getattr(tasks, 'prev_end_time')

tasks

,task_id,employee_id,start_time,end_time,latest_end_time,overlap,prev_end_time
0,1,1001,2023-05-01 08:00:00,2023-05-01 09:00:00,2023-05-01 09:00:00,False,NaT
1,2,1001,2023-05-01 08:30:00,2023-05-01 10:30:00,2023-05-01 10:30:00,True,2023-05-01 09:00:00
2,3,1001,2023-05-01 11:00:00,2023-05-01 12:00:00,2023-05-01 12:00:00,False,2023-05-01 10:30:00
3,7,1001,2023-05-01 13:00:00,2023-05-01 15:30:00,2023-05-01 15:30:00,False,2023-05-01 12:00:00
4,4,1002,2023-05-01 09:00:00,2023-05-01 10:00:00,2023-05-01 10:00:00,False,NaT
5,5,1002,2023-05-01 09:30:00,2023-05-01 11:30:00,2023-05-01 11:30:00,True,2023-05-01 10:00:00
6,6,1003,2023-05-01 14:00:00,2023-05-01 16:00:00,2023-05-01 16:00:00,False,NaT

In [60]:
tasks.sort_values(by=['employee_id', 'start_time'], inplace=True, ignore_index=True)
tasks['latest_end_time'] = tasks.groupby(by=['employee_id'])['end_time'].cummax()
# tasks

0   2023-05-01 09:00:00
1   2023-05-01 10:30:00
2   2023-05-01 12:00:00
3   2023-05-01 15:30:00
4   2023-05-01 10:00:00
5   2023-05-01 11:30:00
6   2023-05-01 16:00:00
Name: end_time, dtype: datetime64[ns]